
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  font-family: "Poppins" , sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #ffb037 ;
}

html{
  --fontWeight : bold;
}

.inputing{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.typing h2{
  font-size: 5rem;
  overflow: hidden;
  border-right: 2px solid;
  white-space: nowrap;
  font-family: 'New Tegomin', serif;
  letter-spacing: 12px;
  animation:  blink 0.8s  infinite , typing 1.5s steps(50, start) alternate infinite;
}

@keyframes typing {
  from{
    width: 0;
  }to{
    width: 100%;
  }
}

@keyframes blink {
  from,
  to{
    border-color: transparent;
  }
  25%{
    border-color:  white;
  }
  50%{
    border-color: red;
  }
  75%{
    border-color: blue;
  }
}

.timer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}


.timer1{
  transform:  rotateX(0deg);
  animation: spin 1s ease-in-out ;
}

@keyframes spin {
  0%{
    transform: scale(0.5) rotate3d(1, 1, 1, 45deg);
  }
  /* 50%{
    transform: ;
  } */
  50%{
    transform: scale(0.5) rotate3d(-1, -1, -1, 45deg);
  }
  100%{
    transform: rotate3d(0,0,0,0deg);
  }


}
 input{
   width: 150px;
   height: 40px;
 }


h1{
font-weight: var(--fontWeight);
font-family: 'Permanent Marker', cursive;
font-size: 3rem;

}

.scaling{
  animation: scaling 1s ease-in-out infinite;
}
@keyframes scaling {
  from{
    transform: scale(0.6);
  }
  to{
    transform: scale(1);
  }
}
.countdown{
  display: flex;
  flex-wrap: wrap;
}

.counter-l{
  margin: 30px;
  text-align: center;
}
.counter-l span {
  font-size: 0.7rem;
}

.big-text{
  font-weight: var(--fontWeight);
  font-size: 4rem;
  line-height: 1;
  margin: 0.2rem;
}
